<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add
      name="databaseConnectionString"
      connectionString="Data Source=DESKTOP-BJ4VIPO\SQL2K17;Initial Catalog=NFR_Nishant;Trusted_Connection=Yes;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>